/*Sections*/

@import "./header.css";
@import "./hero.css";
@import "./about.css";
@import "./projects.css";

/*Sections*/

/*Components*/

@import "./Components/wrapper.css";
@import "./Components/tittle.css";
@import "./Components/button.css";
@import "./Components/particles.css";

/*Components*/

/*Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
/*Fonts*/

:root {
  --secondary-color: #ff6464;
  --btn-color: #ff6464;
  --family-second: "Poppins", sans-serif;
  font-family: "Heebo", sans-serif;
  --bg-body: rgb(22, 33, 54);
  --bg-header: var(--bg-body);
  color: #fff;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-body);
  position: relative;
}
main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
a{
  text-decoration: none;
}
