.projects {
  width: 100%;
  height: auto;
  /*background-color: blue;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 24px;
  max-width: 100%;
}
.post__img-1 {
  background-image: url("../assets/img/coronapp.png");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}
.post__img-2 {
  background-image: url("../assets/img/elisa.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}
.post__img-3 {
  background-image: url(../assets/img/spotifu.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}
.post {
  box-shadow: 0 1px 6px 1px rgba(255, 255, 255, 0.1);
  overflow: hidden;
  transition: 0.2s;
}
.post:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 6px 5px rgba(255, 255, 255, 0.1);
}
.post__header {
  width: 100%;
  height: 300px;
  cursor: pointer;
  overflow: hidden;
}
.post:hover .post__img-1,
.post:hover .post__img-2,
.post:hover .post__img-3 {
  transform: scale(1.1);
}
.post__body {
  padding: 15px;
  text-align: center;
}
.post__body span {
  display: inline-block;
  color: #999;
  margin-bottom: 10px;
}
.post__body h2 {
  margin-bottom: 15px;
}
.post__body p {
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--text-color);
}
.post__body .post__link:hover {
  transform: translateY(-2px);
}
@media screen and (min-width: 64rem) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 110.5rem) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}
