button {
  background-color: var(--btn-color);
  padding: 16px 40px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}
button a {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
.btn_primary {
}

.btn_secondary {
  background: none;
  border: 2px solid var(--secondary-color);
}
